@charset "UTF-8";

html,body {
  margin:0;
  padding:0;
}

html {
  font-size: 100%;
  font-family: Arial,メイリオ;
}

/* フッター　*/

#footer {
    background-color: #4caf50;
    color:#fff
    
  }
  

  
  #footer .copyright {
      font-size:10px;
      text-align:center;
  }