@charset "UTF-8";

html,body {
  margin:0;
  padding:0;
}

html {
  font-size: 100%;
  font-family: Arial,メイリオ;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}

/* ボタンのデザイン */

.btn-1 {
    width: 300px;
    height: 56px;
    color: white;
    background: #ffa726;
    border: solid 1px #ffa726;
    border-radius:30px; /* 角丸の半径を設定、角を丸める */
    display: inline-block;
    font-size: 35px;
    padding: 7px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }

  .btn-2 {
    width: 300px;
    height: 56px;
    color: white;
    background: #4caf50;
    border: solid 1px #4caf50;
    border-radius:30px; /* 角丸の半径を設定、角を丸める */
    display: inline-block;
    font-size: 35px;
    padding: 7px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
  }

  /* ボタンの配置 */

  #btn {
    display: flex;
    flex-direction:column;
    align-items: center;
  }


/* ヘッダー */

#header {
    display: flex; /* フレックスボックスにする */
    flex-direction: row; /* フレックスアイテムを横に並べる */
    justify-content:space-between;	/* 均等に配置し、スペースを作る */
    flex-wrap: nowrap; /* 折り返し指定・一行 */
    width: 100%;
    height: 80px;
    align-items: center;
    flex: 1;
    padding: 30px 40px 25px;
    background-color: #4caf50;
    color: #fff;
}

#header .list-1 {
  display: flex; /* フレックスボックスにする */
  flex-direction: row; /* フレックスアイテムを横に並べる */
  justify-content:space-between;	/* 均等に配置し、スペースを作る */
  flex-wrap: nowrap; /* 折り返し指定・一行 */
  gap: 20px;
}

/* メインヴィジュアル */
#mainvisual img {
  width: 100%;
  object-fit: cover;
}

/* キャッチフレーズ */

.catchphrase {
  text-align: center;
}

.catchphrase-1 {
  color: 3d3d3d;
  font-family: HGPMinchoB;
  font-size: 30px;
}

.catchphrase-2{
  color: 4caf50;
  font-family: HGPMinchoB;
  font-size: 30px;
}

/* メインコンテンツ */

#main-contents {
  display: flex; /* フレックスボックスにする */
}

#main-contents .title-1 {
  color: 3d3d3d;
  font-family: HGPMinchoB;
  font-size: 25px;
  text-align: center;
}

#main-contents .contents {
  font-size: 18px;
  width: 50%;
  margin-right: 50px;
}

.img-1 {
  width: 50%;
  margin: 50px;
}

/* フッター　*/

#footer {
    background-color: #4caf50;
    color:#fff
  }
  
 #footer .name-1 {
    font-size: 20px;
    text-align: center;
 }
  
  #footer .copyright {
      font-size:10px;
      text-align:center;
  }